<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <p>Our service projects are organized into the following categories:</p>

        <ul>
            <% categories.forEach(category=> { %>
                <li>
                    <a href="/category/<%= category.category_id %>">
                        <%= category.name %>
                    </a>
                </li>
                <% }) %>
        </ul>

        <% if (user && user.role_name==='admin' ) { %>
            <a href="/add-category">Add New Category</a>
            <% } %>
    </main>

    <%- include('partials/footer') %>