<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <p>Our service projects are organized into the following categories:</p>

        <ul>
            <% categories.forEach(category=> { %>
                <li>
                    <a href="/category/<%= category.category_id %>">
                        <%= category.name %>
                    </a>
                </li>
                <% }) %>
        </ul>

        <p><a href="/new-category">+ Add a New Category</a></p>
    </main>

    <%- include('partials/footer') %>