<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <p>Name: <%= name %>
        </p>
        <p>Username: <%= email %>
        </p>

        <% if (user && user.role_name==='admin' ) { %>
            <a href="/user-info">Show users Information</a>
            <% } %>

                <!-- Show volunteer functionality only if logged in -->
                <% if (projects && user) { %>
                    <% projects.forEach(project=> { %>
                        <li>
                            <!-- Link to project details (singular) -->
                            <a href="/project/<%= project.project_id %>">
                                <%= project.title %>
                            </a>

                            <!-- Remove volunteer form -->
                            <form action="/project/<%= project.project_id %>/unvolunteer" method="POST"
                                style="display:inline;">
                                <button type="submit" class="btn-remove-small">Remove</button>
                            </form>
                        </li>
                        <% }) %>
                            <% } else { %>
                                <p>You haven’t signed up for any projects yet.</p>
                                <% } %>

    </main>

    <%- include('partials/footer') %>