<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>

        <form action="/edit-organization/<%= organizationDetails.organization_id %>" method="POST">
            <div class="form-group">
                <label maxlength="150" for="name" required>Organization Name</label>
                <input type="text" id="name" name="name" value="<%= organizationDetails.name %>" required />
            </div>

            <div class="form-group">
                <label for="description" required>Description</label>
                <textarea id="description" name="description" maxlength="500" required><%= organizationDetails.description %></textarea>
            </div>

            <div class="form-group">
                <label for="contactEmail" required>Contact Email</label>
                <input type="email" id="contactEmail" name="contactEmail" value="<%= organizationDetails.contact_email %>" required />
            </div>

            <div class="form-group">
                <label for="logoFilename">Logo Filename</label><br>
                <input type="text" id="logoFilename" name="logoFilename" maxlength="255"
                    value="<%= organizationDetails.logo_filename %>" required />
            </div>

            <div class="form-group">
                <label for="logo">Current Logo</label><br>
                <img src="/images/<%= organizationDetails.logo_filename %>" alt="<%= organizationDetails.name %> logo" style="max-width: 200px; max-height: 200px;">
            </div>

            <button type="submit">Update Organization</button>
        </form>

    </main>
    <%- include('partials/footer') %>